*{
    margin: 0;
}
html{
    background-color: grey;
}
body{
    box-sizing: border-box;
    padding-top: 85px;
}
nav{
    height: 80px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 8px;
    border-bottom: 5px solid black;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
nav p{
    color: dimgray;
    height: 40px;
    position: absolute;
    top: 25px;
}
.wrapper{
    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 8px;
    background-color: lightgray;
    height: 1600px;
}
a{
    color:dimgray;
    text-decoration: none;
    font-size: xx-large;
    margin-right: 15px;
    margin-left: 15px;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 20px;
    color: black;
}
h1{
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px black;
}
p{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

img{
    height: 200px;
}
.box{
    height: 650px;
    width: 250px;
    margin: 8px;
    float: left;
}
.container{
    height: 800px;
}
h2{
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
}
footer{
    height: 200px;
}
@media screen and (min-device-width: 600px){
    .box{
        width: 100%;
        background-color: red;
    }
    img{
        width: 500px;
        height: 500px;
    }
    h1{
        font-size: xxx-large;
    }
}